<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>TRAVEL+LEISURE</title>
    </head>

    <body>

        <header>
            <h1>TRAVEL+LEISURE</h1>
        </header>
<br>
        <main style="background-color:rgb(179, 80, 80);">
            <section class ="section2">
                    <p class = "text" style = 'font-size: 50px;'>Destination: </p>
                    <input id="input1"
                           placeholder="Please enter a valid zipcode or city"
                           type="text">

                    <p class = "text" style = 'font-size: 50px;'>Start Date: </p>
                    <input id="input2"
                           placeholder="dd/mm/yyyy"
                           type="date">

                    <p class = "text" style = 'font-size: 50px;'>End Date: </p>
                    <input id="input3"
                           placeholder="dd/mm/yyyy"
                           type="date">
                           <br>

                    <button class = "button" onClick = "Client.formHandler()" type="button" style=" outline: 0 none;">Submit</button> 
                    <button id = "removeTripButton" class = "button" type="button" style=" outline: 0 none;">Remove Trip</button>
                    <br><br>
                    <p><div id="latitude" style = 'color: rgb(255, 255, 255); display: none;'></div></p>
                    <p><div id="longitude" style = 'color: rgb(228, 227, 166); display: none;'></div></p>
                    <p >Country Code:<div id="country" style = 'color: rgb(255, 255, 255)'></div></p>
                    <p style = "display: none;"><div id="placeName" style = "display: none;"></div></p>
                    <p>Countdown:<div id="countdown" style = 'color: rgb(255, 255, 255)'></div></p>
                    <p>Length of Trip:<div id="LoT" style = 'color: rgb(255, 255, 255)'></div></p>
                    <p>Prospective Weather:<br><ul id="weather" style = 'color: rgb(255, 255, 255); line-height: 50px; text-align: justify'></ul></p><br>
                    <p style = "display: none;"><div id="image" class = "picz"></div></pstyle = "display: none;">
            </section>
            <br>

            <footer>
                <div class = "box">
                  <a href="https://www.travelandleisure.com/">
                    
                    <img class="home" src="home.jpg" alt="home" />
                  </a>
                  <a href="https://github.com/rahulvirali1990/Project-7-Fend-Capston-Travel-app">
                    <img class="github" src="github.jpg" alt="github" />
                  </a>
                  <a href="https://www.linkedin.com/in/rahul-patel-446523143/">
                    <img class="linkedIn" src="linkedIn.jpg" alt="linkedIn" />            
                 </a>
                </div>
              </footer>

        </main>

        <script>
            window.addEventListener('load', () => {
                document.getElementById('removeTripButton').addEventListener('click', () => Client.buttonHandler());
            });
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    <script type="text/javascript" src="main.js"></script>
    </body>
</html>